<!doctype html>
<html lang="en">
  {{partial "head" . }}
  
  <body class="{{ .Params.class | default "profile-page" }} sidebar-collapse">
    {{ partial "nav" . }}
    
    <div class="{{ .Params.wrapper | default "wrapper" }}">
      
        <div class="page-header {{ .Params.headerstyle | default "page-header-small"}}" filter-color="{{ .Param "tint" | default "orange" }}">
            <div class="page-header-image" data-parallax="true" style="background-image: url('{{ (.Param "background")  | default "img/header.jpg" | absURL }}');">
            </div>
            <div class="content-center">
              <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12 ml-auto mr-auto text-left">
                        <h1 class="title">{{ .Title }}</h1>
                        <h4 class="description ">{{ .Description }}</h4>
                    </div>
                    <div class="col-lg-6 d-none d-lg-block">
                        <div class="iframe-container2">
                            <iframe height="230px" style="position: relative; height: 230px; width: 100%;" src="https://www.youtube.com/embed/Rfd_1UAjeIA?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
              </div>
            </div>            
        </div>
        <div class="{{ .Params.section | default "section"}}">
            <div class="container">
              
              <div class="row">
                  <div class="col-md-10 ml-auto mr-auto text-center">
                      <h2 class="title">Who we are?</h2>
                      <h5 class="description">Independent, indigenous Czech churches (registered with the Czech Ministry of Culture) formally established in 1990. With contemporary worship services, Bible-based teaching, and an emphasis on meeting regularly in small groups to build relationships, the denomination has grown quickly. There are now about a dozen KS congregations in Prague and close to fifty throughout the Czech Republic. Each local church has its own pastor and elders. A council of KS pastors addresses national issues and provides oversight for the churches. Since the end of 1996 our English-speaking community has been led by Pastors John and Kelsie Mullen.</h5>
                  </div>
              </div>

              <div class="section-story-overview">
                  <div class="row">
                      <div class="col-md-6">
                          <!-- First image on the left side -->
                          <div class="image-container image-left" style="background-image: url('img/overflow_room.jpg')">
                              <p class="blockquote blockquote-info" style="width:350px">"This ministry is supported via donations through <b>Antioch Mercy Ministries, Inc</b> (a State of Texas Non-profit Corporation). Your partnership is greatly appreciated."
                                  <br>
                                  <br>
                                  <small>-FPC</small>
                              </p>
                          </div>
                          <!-- Second image on the left side of the article -->
                          <div class="image-container image-left-bottom" style="background-image: url('img/worshipteam.jpg')"></div>
                      </div>
                      <div class="col-md-5">
                          <!-- First image on the right side, above the article -->
                          <div class="image-container image-right" style="background-image: url('img/beseda-front.jpg')"></div>
                          <h3>Where we meet</h3>
                          <p>Every <strong><em>Sunday at 11:00 am</em></strong> we have an English Language service in <!--a href='https://goo.gl/maps/RTvMn8aiERD2'--> <a href="#" data-toggle="modal" data-target="#myModal"><span data-toggle="tooltip" data-placement="bottom" title="Click for map" data-container="body" data-animation="true">Malostranská Beseda at Malostranské náměstí 21, 110 00 Praha 1.</span></a> at 2nd floor. We pray at 10:30 am. Come early!</p>
                          <p>Everyone is welcome to join us in our services. Our community consists of Christians from all over the world from many different denominational backgrounds. Czech translation is available. Because relationships are very important to us, after the service we hang out at the coffee bar for fellowship and great coffee. Come join us! </p>
                          <ul>
                          {{ range where .Pages "Section" "community-groups" }}
                             <li>{{ .Title }}</li>
                          {{ end }}
                          </ul>
                      </div>
                  </div>
              </div>
              <!-- Sart Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header justify-content-center">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                  <i class="now-ui-icons ui-1_simple-remove"></i>
                              </button>
                              <h4 class="title title-up p-0">Malostranská Beseda at Malostranské náměstí 21</h4>
                          </div>
                          <div class="modal-body">
                              <div id="map-container" class="z-depth-1" style="height: 500px"></div>
                          </div>
              <!--             <div class="modal-footer">
                              <button type="button" class="btn btn-default">Nice Button</button>
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                          </div> -->
                      </div>
                  </div>
              </div>
              <!--  End Modal -->
            </div>
        </div>
        <!-- <div class="separator separator-info"></div> -->

        <div class="header" data-background="black">
            <div id="services" class="carousel slide" data-ride="carousel" data-interval="20000">
                <ol class="carousel-indicators">
                    <li data-target="#services" data-slide-to="0" class="btn btn-danger active">Test</li>
                    <li data-target="#services" data-slide-to="1" class="btn btn-danger">Test2</li>
                    <li data-target="#services" data-slide-to="2" class="btn btn-danger"></li>
                </ol>
<!--         <ul class="nav nav-pills nav-pills-danger justify-content-center carousel-indicators">
            <li class="nav-item" >
              <a class="nav-link" data-target="#carouselExampleIndicators" data-slide-to="0">
                All
              </a>
              </li>
            <li class="nav-item">
              <a class="nav-link" data-target="#carouselExampleIndicators" data-slide-to="1">
                History
              </a>
              </li>
            <li class="nav-item">
              <a class="nav-link" data-target="#carouselExampleIndicators" data-slide-to="2">
                Satire
              </a>
            </li>
        </ul>
 -->                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="page-header header-filter">
                            <div class="page-header-image" style="background-image: url('assets/img/bg20.jpg');"></div>
                            <div class="content-center">
                                <div class="container text-left">
                                    <div class="content-center">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="iframe-container">
                                                    <iframe height="250" src="https://www.youtube.com/embed/rmfmdKOLzVI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
                                                </div>
                                            </div>

                                            <div class="col-md-6 ml-auto mr-auto text-right">
                                                <h1 class="title">On the run tour.</h1>
                                                <h4 class="description ">On the Run Tour: Beyoncé and Jay Z is a 2014 concert special which documents the September 12 and 13, 2014, shows of American singers' Beyoncé and Jay-Z joint co-headlining venture On the Run Tour.</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="page-header header-filter">
                            <div class="page-header-image" style="background-image: url('assets/img/bg15.jpg');"></div>
                            <div class="content-center">
                                <div class="container">
                                    <div class="content-center">
                                        <div class="row">
                                            <div class="col-md-8 ml-auto mr-auto text-center">
                                                <h1 class="title">Island of legends.</h1>
                                                <h4 class="description ">The islands of Malta and Gozo are brilliant for a family holiday, packed with fun places to visit whatever your children’s ages. The islands’ small size means everywhere is within easy reach.</h4>
                                                <br>
                                                <h5>Connect with us on:</h5>
                                                <div class="buttons">
                                                    <a href="#pablo" class="btn btn-icon btn-neutral btn-danger btn-round mt-2">
                                                        <i class="fab fa-twitter"></i>
                                                    </a>
                                                    <a href="#pablo" class="btn btn-icon btn-neutral btn-danger btn-round mt-2">
                                                        <i class="fab fa-facebook-square"></i>
                                                    </a>
                                                    <a href="#pablo" class="btn btn-icon btn-neutral btn-danger btn-round mt-2">
                                                        <i class="fab fa-google-plus"></i>
                                                    </a>
                                                    <a href="#pablo" class="btn btn-icon btn-neutral btn-danger btn-round  mt-2">
                                                        <i class="fab fa-instagram"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="page-header header-filter">
                            <div class="page-header-image" style="background-image: url('assets/img/bg17.jpg');"></div>
                            <div class="content-center">
                                <div class="container">
                                    <div class="content-center">
                                        <div class="row">
                                            <div class="col-md-6 text-left">
                                                <h1 class="title">Arctic Sea ice.</h1>
                                                <h4 class="description ">According to the National Oceanic and Atmospheric Administration, Ted Scambos, NSIDC lead scientist, puts the potentially record low maximum sea ice extent this year down to low ice extent in the Pacific and a late drop in ice extent in the Barents Sea.</h4>
                                                <br>

                                                <div class="buttons">
                                                    <a href="#pablo" class="btn btn-neutral btn-primary btn-lg mr-1">
                                                        <i class="now-ui-icons files_single-copy-04"></i> Read More..
                                                    </a>
                                                    <a href="#pablo" class="btn btn-primary btn-lg">
                                                        <i class="now-ui-icons arrows-1_share-66"></i> Subscribe
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#services" role="button" data-slide="prev">
                    <i class="now-ui-icons arrows-1_minimal-left"></i>
                </a>
                <a class="carousel-control-next" href="#services" role="button" data-slide="next">
                    <i class="now-ui-icons arrows-1_minimal-right"></i>
                </a>
            </div>
        </div>
        <!-- <div class="separator separator-info"></div> -->
<!--         <div class="{{ .Params.section | default "section"}}">
            <div class="container">
              <div class="social-line social-line-white text-center">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-md-12">
                      <h4 class="title">Join us on social networks</h4>
                    </div>
                      <a href="#pablo" class="btn btn-facebook btn-round facebook-sharrre">
                        <i class="fab fa-facebook"></i> Facebook
                      </a>
                      <a href="#pablo" class="btn btn-instagram btn-round instagram-sharrre">
                        <i class="fab fa-instagram"></i> Instagram
                      </a>
                      <a href="#pablo" class="btn btn-youtube btn-round youtube-sharrre">
                        <i class="fab fa-youtube"></i> Youtube
                      </a>
                  </div>
                </div>
              </div>
            </div>
        </div> -->
      {{ partial "footer" . }}
    </div>
  </body>
{{partial "javascript" . }}
<script src="https://maps.google.com/maps/api/js?key=AIzaSyDSV4ftz7QnQ093i-7eqrIxf91MlwBGbek"></script>
<script>
  // Regular map
function regular_map() {
    var var_location = new google.maps.LatLng(50.0883399,14.4049);
    var var_mapoptions = {
        center: var_location,
        zoom: 16
    };

    var var_map = new google.maps.Map(document.getElementById("map-container"), var_mapoptions);
    var var_marker = new google.maps.Marker({
        position: var_location,
        map: var_map,
        title: "Malostranská Beseda"
    });
}

// Initialize maps
google.maps.event.addDomListener(window, 'load', regular_map);
</script>
</html>
